- name: Trace Ansible journalière (fichier fixe)
  hosts: jupi
  become: yes
  gather_facts: yes

  vars:
    stamp_file: /tmp/ansible-connection-today.txt

  tasks:
    - name: Vérifier si le fichier de trace existe
      stat:
        path: "{{ stamp_file }}"
      register: stamp_stat

    - name: Lire le fichier de trace (si présent)
      slurp:
        src: "{{ stamp_file }}"
      register: stamp_raw
      when: stamp_stat.stat.exists

    - name: Déduire la date stockée
      set_fact:
        stored_date: >-
          {{
            (
              (stamp_raw.content | default('') | b64decode)
              | regex_search('^DATE=(.*)$', '\1', multiline=True)
            )
            | default('')
            | trim
          }}

    - name: Écrire le fichier si nouveau jour (ou fichier absent)
      copy:
        dest: "{{ stamp_file }}"
        content: |
          DATE={{ ansible_facts['date_time']['date'] }}
          FIRST_RUN={{ ansible_facts['date_time']['date'] }} {{ ansible_facts['date_time']['time'] }}
        owner: root
        group: root
        mode: "0644"
      when: stored_date != ansible_facts['date_time']['date']
