---
- name: Demo - zabbix agent2 active
  hosts: all
  become: true
  gather_facts: false

  pre_tasks:

    - name: Wait for SSH to become available
      wait_for:
        host: "{{ ansible_host }}"
        port: "{{ ansible_port | default(22) }}"
        timeout: 60
      delegate_to: localhost
      become: false

    - name: Gather facts
      ansible.builtin.setup:

  roles:
    - role: zabbix_agent2
