Server={{ zbx_server_active }},127.0.0.1
ServerActive={{ zbx_server_active }}
Hostname={{ inventory_hostname }}
HostMetadata={{ zbx_host_metadata }}

LogFile={{ zbx_log_file }}
LogFileSize=10

Include=/etc/zabbix/zabbix_agent2.d/*.conf
